*{
    margin: 0;
    padding: 0;
    background-color: black;
}
.container {
    display: grid;
    grid-template-columns: repeat(6fr);
    grid-template-rows: repeat(4fr);
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer ";
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    margin: 45px;
    grid-area: header;
}
.logo {
    width: 60%;
}
.logoMed {
    justify-content: center;
    display: none;
}
.headerDer {
    width: 4%;
}
.header__nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}
.header__ul li a{
    display: flex;
    color: white;
    font-family: dm sans regular;
    font-size: 16px;
    text-decoration: none;
}
.header__ul li a:hover{
    color: rgb(131, 207, 188);
}
/*Home*/
.imgHome {
    display: flex;
    margin-left: 130px;
    width: 100%;
}
/*Productos*/
.mainProd {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: white;
    font-family: dm sans regular;
    grid-area: main;
}
.card{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px
    rgb(68, 122, 109);
    position: relative;
    overflow: hidden;
}
.card-image{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .75s;
}
.card:hover .card-image{
    transform: scale(1.15); 
}
.card-title{
    position: absolute;
    left: 15px;
    bottom: 15px;
    font-size: 20px;
}

/*Destacados*/
.mainDest {
    display: flex;
    align-items: center;
    grid-area: main;  
}
.imgDest {
    width: 100%;
}
.imgDestMed {
    display: grid;
    align-items: center;
    grid-area: main; 
    display: none; 
}

/*Contacto*/
.contContact {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: dm sans;
    margin: 45px;
    justify-content: center;
    gap: 45px;
} 
.textContact {
    font-size: 16px;
}
/*Registrate*/
.formRegistrate {
    display: flex;
    color: white;
    font-size: 14px;
    font-family: dm sans;
    align-items: center;
    height: 100px;
    width: 200px;
    gap: 90px;
    margin-top: 15%;
    margin-left: 30%;
}
.formRegistrateMed {
    display: flex;
    color: white;
    font-size: 14px;
    font-family: dm sans;
    align-items: center;
    height: 100px;
    width: 200px;
    gap: 90px;
    margin-top: 15%;
    margin-left: 30%;
    display: none;
}
.imgRegistrate {
    display: flex;
    width: 300px;
}
.contRegis {
    background-color: white;
    margin: 4px;
    border: none;
    border-radius: 2px;
    width: 180px;
    height: 25px;
}
/*Footer*/
footer {
    display: grid;
    margin: 45px;
    width: 100px;
    margin-top: 40%;
    height: 10%;
    justify-content: center;
    grid-area: footer;
}
footer img {
    width: 22%;
}